* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.container {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
   display: flex;
   gap: 20px;
   flex-direction: column;
}

textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 100%;
  outline: none;
  text-align: left;    
  vertical-align: top; 
}
.btn{
  width: 40%;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
   
}

.sentences{
  border: 1px solid #a09f9f;
  padding: 10px;
  text-align: center;
}
p{
  font-size: 20px;
}