* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-height: 80vh;
  overflow: hidden;
}
h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}
img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.list-people{
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow-y: auto;
    ax-height: 400px;
    flex-grow: 1;
}

.person {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
 border-bottom: 1px solid #ccc;
 
}

.infor{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle{
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: black;
  border-radius: 100px;
  width: 120px;
  height: 70px;
}
.toggle::before{
   content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle.active {
  background-color: white;
}

.toggle.active::before {
  transform: translateX(50px);
  background-color: black;
}

.background-toggle{
  background-color: black;
}