.tab {
  display: none;
}

.tab.active {
  display: block;
}


button{
   font-size: 30px;
   border: none;
    background-color: white;
    cursor: pointer;
}

button.active{
    border-bottom: 2px solid purple;
}